:root {
    --white: #ffffff;
    --black: #000000;

    --background-sporty: #d2e823;
    --text-green: #244f1a;
    --login-btn: #eff0eb;
    --sign-in-btn: #1d232f;

    --background-blue: #2565d6;
    --text-sporty: #d2e823;

    --background-burgundy: #770016;
    --text-pink: #e9c0ea;

    --background-pastel-green: #e9eed6;
    --text-dark-grey: #1e232f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hero-section {
    background: var(--background-sporty);
    padding: 4.5rem 0 6rem;
    min-height: 100vh;
    padding-bottom: 120px;
}

.navbar {
    background-color: var(--white);
    width: 90vw;
    border-radius: 50px;
    max-width: 1550px; 
    margin: 0 auto;
    padding: 14px 14px 14px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 20px;
}

.logo-header {
    width: 107.25px;
}

.logo-header a {
    flex: none;
}

.logo-header a img {
    color: black;
    display: block;
}

.nav-link a {
    color: var(--black);
    padding: 1.3rem 1.6rem;
    font-size: 1.7rem;
    font-weight: 500;
}

/* Buttons */
.btn {
    color: var(--black);
    text-align: center;
    font-weight: 600;
    align-items: center;

    font-size: 1.6rem;
    /* transition: all 0.3s; */
    border: none;
    cursor: pointer;
    display: inline-block;
}

.login-btn {
    background-color: var(--login-btn);
    padding: 2.2rem 2.6rem;
    border-radius: 8px;
    margin-right: .7rem;
}

.sign-up-btn {
    background-color: var(--sign-in-btn);
    padding: 2.2rem 2.6rem;
    border-radius: 50px;
    color: var(--white);
}

.hero-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
    overflow: hidden; /* TAŞAN GÖRSEL İÇİN */
}

.hero-content {
    flex: 1;
    color: var(--text-green);
}

.hero-text h1 {
    font-size: 8.8rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-text p {
    font-size: 2rem;
    font-weight: 500;
}

.hero-image {
    position: relative;
    width: 600px;
    height: 700px;
}

.hero-image img {
    height: auto;
    border-radius: 40px;

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.signup-from {
    display: flex;
    gap: 8px;
    margin-top: 5rem;
}

.signup-from input {
    padding: 1.5rem;
    border-radius: 9px;
    border: none;
    font-size: 1.6rem;
    height: 65px;
    width: 290px;
}

.btn-form {
    background-color: var(--text-green);
    color: var(--white);
    padding: 2rem 6.5rem 2rem 6.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 600;
}

.hero-blue-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
}

.hero-blue-content {
    flex: 1;
}

.hero-blue-text h1 {
    color: var(--text-sporty);
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-blue-text p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
}

.hero-video {
    margin-left: auto;
}

.hero-video video {
    width: 700px;
    height: auto;
}

.signup-blue-from {
    display: flex;
    margin-top: 4rem;
}

.btn-blue-form {
    background-color: var(--text-sporty);
    color: var(--black);
    padding: 2rem 6.5rem 2rem 6.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    align-items: center;
}

.hero-burgundy-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
}

.hero-burgundy-content {
    flex: 1;
}

.hero-burgundy-text h1 {
    color: var(--text-pink);
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-burgundy-text p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
}

.hero-burgundy-image {
    margin-left: auto;
    transform: scale(1.2);
    transform-origin: left center;
}

.hero-burgundy-image img {
    width: 700px;
    height: auto;
}

.signup-burgundy-from {
    display: flex;
    margin-top: 4rem;
}

.btn-burgundy-form {
    background-color: var(--text-pink);
    color: var(--black);
    padding: 2rem 6.5rem 2rem 6.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    align-items: center;
}

.hero-pastel-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
}

.hero-pastel-content {
    flex: 1;
    margin-left: 35px;
}

.hero-pastel-text h1 {
    color: var(--text-dark-grey);
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-pastel-text p {
    color: var(--text-dark-grey);
    font-size: 2rem;
    font-weight: 500;
}

.hero-pastel-image {
    margin-left: auto;
}

.hero-pastel-image img {
    width: 600px;
    height: auto;
}