:root {
    --white: #ffffff;
    --black: #000000;

    --background-sporty: #d2e823;
    --text-green: #244f1a;
    --login-btn: #eff0eb;
    --sign-in-btn: #1d232f;

    --background-blue: #2565d6;
    --text-sporty: #d2e823;

    --background-burgundy: #780016;
    --text-pink: #e9c0ea;

    --background-pastel-green: #e9eed6;
    --text-dark-grey: #1e2330;

    --background-tender-white: #f3f3f1;

    --background-purple: #502274;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hero-section {
    background: var(--background-sporty);
    padding: 4.5rem 0 6rem;
    min-height: 100vh;
    padding-bottom: 120px;
}

.navbar {
    background-color: var(--white);
    width: 90vw;
    border-radius: 50px;
    max-width: 1550px; 
    margin: 0 auto;
    padding: 14px 14px 14px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 20px;
}

.logo-header {
    width: 107.25px;
}

.logo-header a {
    flex: none;
}

.logo-header a img {
    color: black;
    display: block;
}

.nav-link a {
    color: var(--black);
    padding: 1.3rem 1.6rem;
    font-size: 1.7rem;
    font-weight: 500;
}

/* Buttons */
.btn {
    color: var(--black);
    text-align: center;
    font-weight: 600;
    align-items: center;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.login-btn {
    background-color: var(--login-btn);
    padding: 2.2rem 2.6rem;
    border-radius: 8px;
    margin-right: .7rem;
}

.sign-up-btn {
    background-color: var(--sign-in-btn);
    padding: 2.2rem 2.6rem;
    border-radius: 50px;
    color: var(--white);
}

.hero-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
    overflow: hidden;
}

.hero-content {
    flex: 1;
    color: var(--text-green);
}

.hero-text h1 {
    font-size: 8.8rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-text p {
    font-size: 2rem;
    font-weight: 500;
}

.hero-image {
    position: relative;
    width: 600px;
    height: 700px;
}

.hero-image img {
    height: auto;
    border-radius: 40px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.signup-from {
    display: flex;
    gap: 8px;
    margin-top: 5rem;
}

.signup-from input {
    padding: 1.5rem;
    border-radius: 9px;
    border: none;
    font-size: 1.6rem;
    height: 65px;
    width: 290px;
}

.btn-form {
    background-color: var(--text-green);
    color: var(--white);
    padding: 2rem 6.5rem 2rem 6.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 600;
}

.hero-blue-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
}

.hero-blue-content {
    flex: 1;
}

.hero-blue-text h1 {
    color: var(--text-sporty);
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-blue-text p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
}

.hero-video {
    margin-left: auto;
}

.hero-video video {
    width: 700px;
    height: auto;
}

.signup-blue-from {
    display: flex;
    margin-top: 4rem;
}

.btn-blue-form {
    background-color: var(--text-sporty);
    color: var(--black);
    padding: 2rem 6.5rem 2rem 6.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    align-items: center;
}

.hero-burgundy-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
}

.hero-burgundy-content {
    flex: 1;
}

.hero-burgundy-text h1 {
    color: var(--text-pink);
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-burgundy-text p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
}

.hero-burgundy-image {
    margin-left: auto;
    transform: scale(1.2);
    transform-origin: left center;
}

.hero-burgundy-image img {
    width: 700px;
    height: auto;
}

.signup-burgundy-from {
    display: flex;
    margin-top: 4rem;
}

.btn-burgundy-form {
    background-color: var(--text-pink);
    color: var(--black);
    padding: 2rem 6.5rem 2rem 6.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    align-items: center;
}

.hero-pastel-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
}

.hero-pastel-content {
    flex: 1;
    margin-left: 35px;
}

.hero-pastel-text h1 {
    color: var(--text-dark-grey);
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2.4rem;
    text-align: left;
}

.hero-pastel-text p {
    color: var(--text-dark-grey);
    font-size: 2rem;
    font-weight: 500;
}

.hero-pastel-image {
    margin-left: auto;
}

.hero-pastel-image img {
    width: 600px;
    height: auto;
}

/* Bg Tender White Start */

.headline {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
}

/* Değişen kelimelerin alanı */
.rotating-wrapper {
    display: block;
    position: relative;
    width: 195px;
    height: 1.2em;
    overflow: hidden;
    color: #2565d6;
    margin: 0 auto;
}

/* Kelimeler */
.word {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation: rotate 8s infinite;
}

/* Sırayla görünmeleri için 8sn */
.word:nth-child(1) { animation-delay: 0s; }
.word:nth-child(2) { animation-delay: 2s; }
.word:nth-child(3) { animation-delay: 4s; }
.word:nth-child(4) { animation-delay: 6s; }

@keyframes rotate {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    35% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
    }
}

/* CARD STYLES */

.trust-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 65px;
}

.laclippers-img {
    background-color: var(--background-tender-white);
    width: 300px;
    height: 360px;
    border-radius: 20px;
    flex-shrink: 0;
}

.selena-img {
    background-color: var(--background-tender-white);
    width: 300px;
    height: 360px;
    border-radius: 20px;
    flex-shrink: 0;
}

.funkynutmeg-img {
    background-color: var(--background-tender-white);
    width: 300px;
    height: 360px;
    border-radius: 20px; 
    flex-shrink: 0;
}

.hbo-img {
    background-color: var(--background-tender-white);
    width: 300px;
    height: 360px;
    border-radius: 20px; 
    flex-shrink: 0;
}

.pharrell-img {
    background-color: var(--background-tender-white);
    width: 300px;
    height: 360px;
    border-radius: 20px; 
    flex-shrink: 0;
}

/* KART ÇEVİRME ANİMASYONU */
.card-flip {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    cursor: pointer;
}

.card-flip:hover {
    transform: rotateY(180deg);
}

/* Ön yüz ve arka yüz ortak özellikler */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Ön yüz */
.card-front {
    z-index: 2;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arka yüz */
.card-back {
    color: var(--black);
    transform: rotateY(180deg);
    padding: 20px;
    text-align: center;
}

.card-back p {
    width: 150px;
    height: 30px;
    padding: 5px 0 30px 0;
    border-radius: 30px;
    background-color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.9;
}

/* LA Clippers */
.laclippers-img .card-back {
    background: var(--text-green);
}

.laclippers-img img {
    border-radius: 70px;
}

/* Selena Gomez */
.selena-img .card-back {
    background-color: #d6a337;
}

.selena-img img {
    border-radius: 70px;
}

/* Funky Nutmeg */
.funkynutmeg-img .card-back {
    background: var(--text-pink);
}

.funkynutmeg-img img {
    border-radius: 300px;
}

/* HBO */
.hbo-img .card-back {
    background: var(--text-pink);
}

.hbo-img img {
    border-radius: 20px;
}

/* Pharrell */
.pharrell-img .card-back {
    background: var(--background-burgundy);
}

.pharrell-img img {
    border-radius: 300px;
}

/* GRİD CONTAINER */
.grid-container {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 480px); /* 2 satır ikiside 480px */
    gap: 20px;
}

/* GRID-1 (PEMBE KART) */
.grid-1 {
    background-color: var(--text-pink);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    cursor: pointer;
}

.grid-1 .card-image {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-1 .card-image img {
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.grid-1 p {
    color: var(--text-dark-grey);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

/* GRID-2 (SARI KART) */
.grid-2 {
    background-color: var(--text-sporty);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    cursor: pointer;
}

.grid-2 .card-image {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-2 .card-image img {
    width: 85%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.grid-2 p {
    color: var(--text-dark-grey);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

/* GRID-3 (MAVİ BÜYÜK KART) */
.grid-3 {
    background-color: #061492;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    cursor: pointer;
}

.grid-3 .card-image {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-3 .card-image img {
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.grid-3 p {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

/* TEXT-CONTAINER */
.text-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

/* TESTIMONIAL IN SECTION */
.testimonial-text h2 {
    margin-bottom: 5rem;
}

.testimonial-container {
    max-width: 1100px;
    margin: 0 auto;
}

/* ÜSTTEKİ KARTLAR İÇİN STİL */
.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

/* ALTTAKİ KARTLAR İÇİN STİL */
.testimonial-grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 15px;
}

.testimonial-card {
    background-color: white;
    width: 360px;
    height: 72px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tech-Crunch */
.tech-crunch img {
    width: 160px;
    height: auto;
}

/* Insider */
.insider img {
    width: 100px;
    height: auto;
}

/* Forbes */
.forbes img {
    width: 100px;
    height: auto;
}

/* Mashable */
.mashable img {
    width: 110px;
    height: auto;
}

/* Fortune */
.fortune img {
    width: 130px;
    height: auto;
}

/* FEATURED SECTİON */
.featured-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.featured-img img {
    width: 800px;
}

.featured-source {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.featured-source p {
    text-align: center;
    font-size: 2rem;
    color: #676B5F;
}

/* FEATURED BTN */
.featured-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.featured-btn {
    width: 50px;
    height: 50px;
    background-color: var(--background-tender-white);
    border: 1px solid #ABABAB;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.8rem;
    text-align: center;
    color: #ABABAB;
    transition: all .5s ease;
}

.btn-back:hover {
    color: var(--black);
    border: 1px solid var(--black);
}

.btn-next:hover {
    color: var(--black);
    border: 1px solid var(--black);
}

/* QUESTİONS SECTION */
.questions-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    margin-top: 28px;
}

.questions-container h2 {
    font-size: 4.8rem;
    font-weight: 900;
    color: var(--text-pink);
    text-align: center;
    margin-bottom: 60px;
}

.questions-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Quesyions Item */
.questions-item {
    background: rgba(80, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.questions-item:hover {
    background: rgba(80, 0, 0, 0.6);
}

/* Hidden Checkbox */
.question-checkbox {
    display: none;
}

/* Label (Soru Başlığı) */
.question-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem;
    cursor: pointer;
    user-select: none;
}

.accordion-question {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-pink);
    padding-right: 20px;
}

/* Question Icon */
.question-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.question-icon i {
    width: 100%;
    height: 100%;
    color: var(--text-pink);
}

/* Content (Cevap) */
.question-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.question-answer {
    padding: 0 35px;
    color: var(--text-pink);
    font-size: 2rem;
    line-height: 1.7;
}

/* Checked State */
.question-checkbox:checked ~ .question-label .accordion-icon {
    transform: rotate(180deg);
}

.question-checkbox:checked ~ .question-content {
    max-height: 500px;
    padding-bottom: 30px;
}

.hero-purple-container {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 28px;
    flex-direction: column;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1500px; 
    margin: 0 auto;
}

.footer-text h2 {
    color: var(--white);
    opacity: 0.7;
}

/* Footer Main */
.footer-main {
    background-color: var(--white);
    padding: 60px 40px 40px;
    border-top: 3px solid transparent;
    border-radius: 15px;
    margin-top: 200px;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
}

/* Footer Columns */
.footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 130px;
    margin-bottom: 60px;
}

.footer-cols h3 {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--text-dark-grey);
    margin-bottom: 2.4rem;
    letter-spacing: -0.02rem;
}

.footer-cols ul li {
    margin-bottom: 1.4rem;
}

.footer-cols ul li a {
    color: #6b7280;
    font-size: 1.52rem;
    transition: all 0.2s ease;
    display: inline-block;
}

.footer-cols ul li a:hover {
    color: var(--text-dark-grey);
    transform: translateX(2px);
}

/* Footer Button & Icon */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 10px;
}

.footer-cta {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-p {
    padding: 1.4rem 3.2rem;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn-login {
    background: #f3f4f6;
    color: var(--text-dark-grey);
}

.btn-login:hover {
    background-color: #e5e7eb;
    transform: translateY(-2px);
}

.btn-primary {
    background-color: var(--text-sporty);
    color: var(--text-dark-grey);
}

.btn-primary:hover {
    background: #c0e600;
    transform: translateY(-2px);
}

.footer-social {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-btn {
    display: flex;
    align-items: center;
    padding: 1.2rem 2rem;
    background: #1a202c; 
    color: var(--white);
    border-radius: 40px;
    transition: all 0.3s ease;
}

.social-btn svg {
    width: 112px;
    height: 40px;
}

.google-play svg {
    fill: rgb(255, 255, 255);
}

.app-store svg {
    fill: rgb(255, 255, 255);
}

.social-btn:hover {
    background: #2d3748;
    transform: translateY(-1px);
}

.social-icon {
    width: 65px;
    height: 65px;
    background: #1a202c; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background: #2d3748;
    transform: translateY(-1px);
}